@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@import "tailwindcss";

@layer base {
  * {
    @apply border-gray-200;
  }
}

a.active hr {
  display: block;
}

* {
  font-family: "Outfit", sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

input[type="checkbox"] {
  accent-color: black;
  cursor: pointer;
}

/* ::-webkit-scrollbar {
  display: none;
} */

@media (max-width: 1024px) {
  a.active {
    background-color: black;
    color: white;
  }
}
